@import "../../../assets/styles/variables";

.content {
  display: flex;
  justify-content: center;

  .uploader {
    border: 2px dashed;
    width: 363px;
    height: 226px;
    border-color: $border-color;
    border-radius: $border-radius;
    gap: $gutter;

    .button {
      margin-top: 10px;
    }

    .upload-button {
      width: 3rem;
    }
    .pi-check,
    .pi-times {
      padding: 15px;
    }
    .pi-times {
      background-color: #fee2e2;
    }
    .pi-check {
      background-color: #ccfbf1;

      //   border-radius: "50%";
      color: #1e40af;
    }

    &.drag-over {
      background-color: #eff6ff;
    }

    .size {
      font-weight: 500;
      font-size: $font-medium;
      color: #9ca3af;
    }

    .file-input {
      display: none;
    }

    .upload-view,
    .success-view,
    .progress-view,
    .failed-view {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: $gutter;

      .status-sub {
        color: #14b8a6;
        font-weight: 500;
        &.error-text {
          color: #ef4444;
        }
      }
    }
    .success-view {
      h4 {
        margin-top: 10px;
      }
    }

    .progress-spinner-circle {
      stroke-dasharray: 0, 180;
      stroke-dashoffset: 0;
      animation: progress-spinner-dash 1.2s ease-in-out forwards;
      stroke-linecap: round;
      stroke: #2563eb;
    }

    .progress-spinner {
      animation: none;
      rotate: -30deg;
    }

    @keyframes progress-spinner-dash {
      0% {
        stroke-dasharray: 0, 180;
        stroke-dashoffset: 0;
      }
      25% {
        stroke-dasharray: 50, 180;
        stroke-dashoffset: 0;
      }
      50% {
        stroke-dasharray: 50, 180;
        stroke-dashoffset: 0;
      }
      75% {
        stroke-dasharray: 90, 180;
        stroke-dashoffset: 0;
      }
      100% {
        stroke-dasharray: 180, 180;
        stroke-dashoffset: 0;
      }
    }
  }
}

.upload-modal {
  .modal-title,
  .modal-subtitle {
    text-align: center;
  }
  .modal-subtitle {
    padding: 0 4rem;
  }
}
