@import "../../../assets/styles/variables";

.content {
  display: flex;
  justify-content: center;

  .uploader {
    border: 2px dashed;
    width: 363px;
    height: 226px;
    border-color: $border-color;
    border-radius: $border-radius;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: $gutter;

    .upload-button {
      width: 3rem;
    }

    .size {
      font-weight: 500;
      font-size: $font-medium;
      color: #9ca3af;
    }

    .file-input {
      display: none;
    }

    .progress-spinner-circle {
      stroke-dasharray: 0, 180;
      stroke-dashoffset: 0;
      animation: progress-spinner-dash 1s ease-in forwards;
      stroke-linecap: round;
      stroke: #2563eb;
    }

    .progress-spinner {
      animation: none;
      rotate: -30deg;
    }

    @keyframes progress-spinner-dash {
      0% {
        stroke-dasharray: 0, 180;
        stroke-dashoffset: 0;
      }
      25% {
        stroke-dasharray: 50, 180;
        stroke-dashoffset: 0;
      }
      50% {
        stroke-dasharray: 90, 180;
        stroke-dashoffset: 0;
      }
      100% {
        stroke-dasharray: 180, 180;
        stroke-dashoffset: 0;
      }
    }
  }
}

.upload-modal {
  .modal-title,
  .modal-subtitle {
    text-align: center;
  }
  .modal-subtitle {
    padding: 0 4rem;
  }
}
