.layout-main-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
  padding: $topbar-height 0 0 0;
  transition: all $transitionDuration ease;  // Match sidebar transition
  margin-left: $sidebar-width;  // Start with sidebar width
  position: relative;
  z-index: 1;  // Much lower z-index

  &.collapsed {
    margin-left: $sidebar-collapsed-width;  // Adjust when sidebar is collapsed
  }
}

.layout-main {
  height: calc(100vh - 3rem - $topbar-height);
  overflow-y: auto;
  padding: 0;
  position: relative;
  z-index: 1;  // Much lower z-index
}
