@media (min-width: 992px) {
  .layout-wrapper {
    &.layout-static {
      .layout-topbar {
        margin-left: $sidebar-width;
        width: calc(100% - #{$sidebar-width});
      }
      .layout-main-container {
        margin-left: $sidebar-width;
      }
    }

    &.layout-collapsed {
      .layout-topbar {
        margin-left: $sidebar-collapsed-width;
        width: calc(100% - #{$sidebar-collapsed-width});
      }
      .layout-main-container {
        margin-left: $sidebar-collapsed-width;
      }
    }
  }
}
