* {
  scrollbar-width: thin;
  scrollbar-color: rgb(204, 203, 202) $bg-color-secondary;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: $bg-color-secondary;
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(204, 203, 202);
  border-radius: 20px;
}

.scrollable-card {
  scrollbar-width: thin;
  scrollbar-color: $bg-color-secondary rgb(204, 203, 202);
}

/* Works on Chrome, Edge, and Safari */
.scrollable-card::-webkit-scrollbar {
  width: 8px;
}

.scrollable-card::-webkit-scrollbar-track {
  background: rgb(204, 203, 202);
}

.scrollable-card::-webkit-scrollbar-thumb {
  background-color: $bg-color-secondary;
  border-radius: 20px;
}
