.layout-topbar {
  position: fixed;
  height: $topbar-height;
  z-index: 9;
  left: 0;
  top: 0;
  width: 100%;
  padding: 10px;
  color: $text-color-primary;
  border-bottom: 1px solid $border-color;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: $transitionDuration;
  background-color: $bg-color-secondary;

  .p-breadcrumb {
    background: transparent !important;
    border: none !important;
    padding: 0 !important;
    font-size: 0.875rem;
    display: block !important;
    
    .p-breadcrumb-list {
      margin: 0;
      padding: 0;
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }
    
    .p-menuitem-link {
      padding: 0;
      &:focus {
        box-shadow: none;
      }
      
      .p-menuitem-text {
        color: $text-color-secondary;
      }
      
      &:hover .p-menuitem-text {
        color: $text-color-primary;
      }
    }
    
    .p-menuitem:last-child {
      .p-menuitem-text {
        color: $text-color-primary;
        font-weight: 500;
      }
    }

    .p-breadcrumb-chevron {
      margin: 0 0.5rem;
    }
  }

  .logo {
    height: calc($topbar-height - 20px);
    width: 100%;
    svg {
      height: 100%;
      margin-left: 1px;
    }
  }

  .toggle-container {
    width: 150px;
    display: flex;
    justify-content: center;
    border-right: 1px solid #344967;
    transition: 0.2s;
    margin-right: 30px;

    .toggle-button2 {
      position: relative;
      z-index: 2;
      right: -55px;
      background-color: #c5c4c4;
      width: 22px;
      height: 22px;
      border-radius: 50%;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      cursor: pointer;
      margin: auto 0;
    }
    .small-logo {
      width: 45px;
      img {
        width: 90%;
      }
    }
  }

  .toggle-button {
    position: relative;
    z-index: 2;
    left: -25px;
    background-color: #c5c4c4;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    transition: 0.2s;
  }

  .page-title {
    font-family: "DM Sans", sans-serif;
    font-size: clamp(16px, 2vw, 20px);
    font-weight: 700;
  }
  
  .username {
    font-family: "DM Sans", sans-serif;
    font-size: 14px;
    font-weight: 600;
  }

  .top-menu {
    display: flex;
    justify-content: flex-end;
  }
}
