.page {
  .page-header {
    padding: 1.5rem 1.5rem 1rem 1.5rem;
  }

  .page-content {
    padding: 0 1.25rem 1.5rem 1.5rem;
    background-color: $bg-color-secondary;
    border-radius: 8px;
  }

  .page-title {
    font-size: 1.5rem;
    font-weight: 600;
    color: $text-color-primary;
  }

  .page-description {
    font-family: "DM Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
  }

  .back-icon {
    width: 30px;
    cursor: pointer;
  }
}
