html {
  font-size: 14px;
}

body {
  font-family: var(--font-family);
  font-size: 1rem;
  line-height: 1.5;
  color: $text-color-primary;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6,
label {
  color: $text-color-primary;
  margin: 0;
  padding: 0;
}
p {
  color: $text-color-secondary;
  margin: 0;
  padding: 0;
}

a {
  color: $link-color;
  text-decoration: none;
  
  &:hover {
    color: darken($link-color, 10%);
  }
}

// div {
//   color: $text-color-primary;
// }
