/////////////////////////////////////////////////////////////////
///////////// Follow the same color name below//////////////////
///////////////////////////////////////////////////////////////

// These variables with $ sign will be used in all other style file
// No color code will be write in any style file directly

//Primary Background and text colors

:root {
  --font-family: "DM Sans", sans-serif;
}

$primary-color: #020817;
$white-color: #ffffff;

$border-color: #e5e7eb;
$bg-color-primary: #ffffff;
$bg-color-secondary: #f4f6f9;
$bg-color-dark: #09214b;

$text-color-primary: #1f2937;
$text-label-color: #4e5b76;
$text-color-secondary: #4b5563;
$link-color: #2563eb;

$border-radius: 10px;
$transitionDuration: 0.5s;
$gutter: 5px;
$sidebar-width: 250px;
$topbar-height: 3rem;

$menu-item-hover: rgba(255, 255, 255, 0.1);
$menu-item-secondary: #959ba4;

// Status Colors
$status-ready: #22c55e;
$status-ready-bg: #f0fdf4;
$status-running: #06b6d4;
$status-running-bg: #ecfeff;
$status-stopping: #f87171;
$status-stopping-bg: #fef2f2;
$status-stopped: #ef4444;
$status-stopped-bg: #fef2f2;
$status-starting: #ec4899;
$status-starting-bg: #fdf2f8;
$status-paused: #eab308;
$status-paused-bg: #fefce8;

// Font sizes
$font-medium: 0.875rem;
