@import "./_variables.scss";
@import "./_card.scss";
@import "./_button.scss";

@import "./_login.scss";
@import "./_typography.scss";
@import "./_table.scss";
@import "./layout/_layout.scss";
@import "./shared/_page.scss";
@import "./shared/allinput.scss";
@import "./overrides.scss";
